</div>
<footer id="footer" role="contentinfo" class="line pam txtcenter">
      	<ul class="pam">
	  <li class="pam inbl"><a href="/credit">Crédit</a></li>
	  <li class="pam inbl"><a href="https://cheredeprince.net">Chère de prince</a></li>
          <li class="pam inbl"><a href="https://twitter.com/cheredeprince">Twitter</a></li>
          <li class="pam inbl"><a href="https://facebook.com/cheredeprince">Facebook</a></li>
	</ul>
    </footer>

  </body>
</html>
