<div class="scr">
    <h3 class="scr-name"><%=scrutin.name%></h3>
    <p class="scr-presentation"><%=scrutin.presentation%></p>
    <figure class="scr-chart scr-chart-<%=scrutin.label%>">
        <figcaption><%=scrutin.chartTitle%></figcaption>
    </figure>
</div>
