<div class="scr-total">
    <h2 class="scr-title">Les résultats par scrutin</h2>
    <p class="scr-description">
        Le graphique ci-dessous représente le rang des candidats en fonctions des différents scrutins.
    </p>
    <figure class="scr-chart scr-chart-total">
        <figcaption>rang des candidats par scrutin</figcaption>
    </figure>
</div>



<div class="scr-total">
    <h2 class="scr-title">Les résultats par scrutin(test)</h2>
    <p class="scr-description">
        Le graphique ci-dessous représente le rang des candidats en fonctions des différents scrutins.
    </p>
    <figure class="scr-chart scr-chart-total-test">
        <figcaption>rang des candidats par scrutin</figcaption>
    </figure>
</div>
