<div class="scr-total">
    <h2 class="scr-title">Les résultats par scrutin</h2>
    <p class="scr-description">
        Le graphique ci-dessous représente le rang des candidats en fonctions des différents scrutins.
    </p>
    <div class="scr-chart scr-chart-total"></div>
</div>
