<h2><a href="#pref" name="pref">Le vote par liste de préférence</a></h2>

<p><strong>Sélectionne</strong> tous les candidats par ordre de préférence, en cliquant dessus, puis passe au jugement majoritaire.</p>

<p class="message <%=messageType%>"><%if(message && messageTo == "pref"){%>
  <%-message%>
  <%}%></p>


    <div class="grid-4-small-2 has-gutter-xl">
      <%for(var i =0;i<nameLab.length;i++){%>
		<%-include('card.ejs',{"candidat": nameLab[i], "candidatLength": nameLab.length }) %>
        <%}%>
    </div>
    <p>
	<!-- <input type="submit" id="pref-btn-submit" class="btn vote-btn" value="Soumettre votre vote alternatif"> -->
	
    </p>

