<%- include partials/header%>

    <p class="">Je souhaite remercier tous ces petits gens, qui ont fait tous ces petits programmes, qui m'ont permis de faire le mien : </p>
    <ul>
        <li>tous les gens derrières <a href="https://d3js.org/">D3.js</a> ; </li>
        <li>tous ceux participant à <a href="http://expressjs.com/" >express</a> ; </li>
        <li>aux réalisateurs de <a href="http://knacss.com/">knacss</a> ; </li>
        <li>ignorzilla pour son <a href="http://bl.ocks.org/igorzilla/3086583">diagramme de flux</a> ; </li>
        <li>juancb pour son <a href="https://bl.ocks.org/juan-cb/faf62e91e3c70a99a306">histogramme horizontal</a> ; </li>
        <li>Mike Bostock pour son <a href="https://bl.ocks.org/mbostock/3887051">histogramme groupé</a>.</li>

<%-include partials/footer%>
