<%-include partials/header%>
    <h2>Tester différents scrutins</h2>
    <p>L'objectif de Vote'n Roll est de similer de réelles élections, en comparant différentes méthodes de choisir l'élu.</p>

    <h2>Voter en classant les candidats</h2>
    <p>Une fois dans l'isoloir, il vous sera demander de trier les candidats par ordre de préférence, pour constituer votre vote.</p>
    <p class="txtcenter">
        <a class="btn" href="/vote">Accèder à l'isoloir</a>
    </p>

    <h2>Pourquoi comparer ces scrutins ?</h2>
    <p>La construction de Vote'n Roll a été motivé par les vidéos suivantes, qui montrent combien l'influence du scrutin est forte sur les résultats du vote. Le maitre d'Albert expose un exemple de vote, où chacun candidat peut remporter la victoire avec un scrutin.</p>
    <div  class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vfTJ4vmIsO4" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>David Louapre discute de certaines propriètés des votes et présent un autre scrutin : le jugement majoritaire.</p>
    <div  class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZoGH7d51bvc" frameborder="0" allowfullscreen></iframe>
    </div>
<%-include partials/footer%>
