<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Vote'n Roll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/knacss.css" media="all">
    <link rel="stylesheet" href="/stylesheets/style.css" media="all">
  </head>
  <body>
    
    <header id="header" role="banner" class="line pam">
      <h1>Votes'n Roll</h1>
      <nav id="navigation" role="navigation">
	<ul class="pam">
	  <li class="pam inbl"><a href="/vote">L'isoloir</a></li>
	  <li class="pam inbl"><a href="/resultats">Les résultats</a></li>
	</ul>
      </nav>
    </header>
    <div id="main" role="main" class="line pam">
      <p class="">Depuis l'apparition du "vote utile", on sait bien que l'on peut essayer de jouer avec les votes. Je te propose, donc d'y aller à fond en voter selon tes convictions. Plûtot que de voter pour faire passer une personne au second tour, pour sauver les meubles, vote en triant les candidats par ordre de préférence. Tu pourras alors consulter les résultats du vote, selon différents scrutins.</p>
    </div>
    <footer id="footer" role="contentinfo" class="line pam txtcenter">
      	<ul class="pam">
	  <li class="pam inbl"><a href="/credit">Crédit</a></li>
	  <li class="pam inbl"><a href="https://cheredeprince.net">Chère de prince</a></li>
          <li class="pam inbl"><a href="https://twitter.com/cheredeprince">Twitter</a></li>
          <li class="pam inbl"><a href="https://facebook.com/cheredeprince">Facebook</a></li>
	</ul>
    </footer>

  </body>
</html>
