<!DOCTYPE html>
<html>
  <head>
    <title>Vote'n Roll</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="page">
    <h1>Vote'n Roll</h1>
    <p>Depuis l'apparition du "vote utile", on sait bien que l'on peut essayer de jouer avec les votes. Je te propose, donc d'y aller à fond en voter selon tes convictions. Plûtot que de voter pour faire passer une personne au second tour, pour sauver les meubles, vote en triant les candidats par ordre de préférence. Tu pourras alors consulter les résultats du vote, selon différents scrutins. </p>
    </div>
  </body>
</html>
