<%-include partials/header%>
<h2>Tester différents scrutins</h2>
<p>L'objectif de Vote'n Roll est de simuler de réelles élections, en comparant différentes méthodes pour choisir l'élu.</p>

    <h2>Voter de diverses manières</h2>
    <p>Une fois dans l'isoloir, il vous sera demandé de voter suivant différents modes de vote.</p>
    <% elections.forEach(function(election){%>
	<p class="txtcenter">
            <a class="btn" href="/vote/<%=election.id%>">L'isoloir de <%=election.name%></a>
	</p>
    <%}) %>

    <h2>Pourquoi comparer ces scrutins ?</h2>
    <p>La construction de Vote'n Roll a été motivée par les vidéos suivantes, qui montrent combien l'influence du scrutin est forte sur les résultats du vote. Le maître d'Albert expose un exemple de vote, où chaque candidat peut remporter la victoire avec un scrutin.</p>
    <div  class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vfTJ4vmIsO4" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>David Louapre discute de certaines propriétés des votes et présente un autre scrutin : le jugement majoritaire.</p>
    <div  class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZoGH7d51bvc" frameborder="0" allowfullscreen></iframe>
    </div>
    <h2>Liens utiles</h2>
    <ul>
      <li><a href="https://vote.imag.fr">Voter Autrement</a> : site proposant de voter pour l'élection présidentielle 2017 selon le vote par approbation, le vote par note et le vote par classement partiel.</li>
      <li><a href="http://www.slate.fr/story/127232/vote-primaire-de-droite">Votons autrement</a> : expérience web proposant de voter pour la primaire de droite de 2016 selon le vote alternatif, le vote par approbation et le vote par note.</li>
      <li><a href="https://www.election-alternative.fr">L'élection alternative</a> : site proposant une expérience basée sur le scrutin par jugement majoritaire.</li>
      <li><a href="http://ncase.me/ballot/">To build a better ballot</a> : un guide interactif sur les systèmes de vote en anglais</li>
      <li><a href="https://www.youtube.com/watch?v=wKimU8jy2a8">Le scrutin de Cordorcet randomisé</a> : vidéo qui introduit une amélioration du scrutin de Condorcet</li>
    </ul>
<%-include partials/footer%>
