<!DOCTYPE html>
<html>
  <head>
    <title>Résultats du vote</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%if(message){%>
    <p class="message"><%=message%></p>
    <%}%>
    
    <h1>Les Résultats des élections</h1>
    <p></p>
  </body>
</html>
