<%-include( 'partials/header',{"elections": elections, "electionId":electionId})%>
<form action="/vote/ajout/<%=electionId%>" method="post">
    <% ballotsList.forEach(function(ballot){ %>
	<%-include('partials/'+ballot.ejs ,{"ballot":ballot})%>
    <%})%>
    <p>
	<input type="submit" id="btn-submit" class="btn vote-btn" value="Soumettre votre vote alternatif et votre jugement">
    </p>
</form>
<script src="/javascripts/form.js"></script>
<%-include partials/footer%>
