<%-include partials/header%>

    <h1>Faites votre vote</h1>
    <p>Sélectionne tous les candidats par ordre de préférence, en cliquant dessus, puis soumets ton vote.</p>

    <form action="/vote/ajout" method="post" class="txtcenter">
        <div class="grid-4-small-2 has-gutter-xl">
            <%for(var i =0;i<nameLab.length;i++){%>
                <% include partials/card %>
            <%}%>
        </div>
        <input type="submit" class="btn" value="Voter">
    </form>

<script src="/javascripts/form.js"></script>
<%-include partials/footer%>
