body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

h2:first-letter{
    text-transform: uppercase;
}




.link {
    fill: none;
    opacity: .3;
}

.link.on {
    opacity: 1;
}

.node {
    stroke: none;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

text {
    font: 10px sans-serif;
    color: white;
}
text.value {
    font-size: 120%;
    fill: white;
}

.axis path,.axisHorizontal path{
    fill: none;
    display: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis  .tick,.axisHorizontal .tick {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.4);
}

.axis  .tick {
    stroke: rgba(0, 0, 0, 1);
}

.scr-chart figcaption{
    font-size: 1.2em;
}

.scr-chart figcaption::first-letter{
    text-transform: uppercase;
}

/* vote*/

.card:hover{
    cursor:pointer;
}

.card-photo{
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition : filter 1s;
    transition : filter 1s;
}

.choosen-card .card-photo{
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
} 

.card:hover .card-photo{
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}

.card-head{
    position:relative;
}

.card-number{
    position: absolute;
    bottom: 12.5%;
    right: 12.5%;
    font-size: 2em;
    background-color: black;
    border-radius: 50%;
    color:white;
}

.btn {
    background: #37948b;
    background-image: -webkit-linear-gradient(top, #37948b, #2a877e);
    background-image: -moz-linear-gradient(top, #37948b, #2a877e);
    background-image: -ms-linear-gradient(top, #37948b, #2a877e);
    background-image: -o-linear-gradient(top, #37948b, #2a877e);
    background-image: linear-gradient(to bottom, #37948b, #2a877e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #45b5a8;
    text-decoration: none;
    color: #ffffff;
}

.scr-chart{
    margin: 2em 0;
}

@media (max-width: $medium) {
    .video-wrapper {
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    }

    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

