body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

h2:first-letter{
    text-transform: uppercase;
}

nav li a{
    text-decoration : none;
    border-bottom: 1px solid black;
}

nav .selected a{
    border-bottom-color: #e6843f;
}

.info{
    background-color: green;
    color: white;
}

.error{
    background-color: red;
    color: white;
}

.link {
    fill: none;
    opacity: .3;
}

.link.on {
    opacity: 1;
}

.node {
    stroke: none;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

text {
    font: 10px sans-serif;
    color: white;
}
text.value {
    font-size: 120%;
    fill: white;
}

.axis path,.axisHorizontal path{
    fill: none;
    display: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis .tick line,.axisHorizontal .tick line{
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.4);
}

.majority-axis line{
    stroke: black;
    stroke-width:2;
}

.scr-chart figcaption{
    font-size: 1.2em;
}

.scr-chart figcaption::first-letter{
    text-transform: uppercase;
}

/* vote*/

.card:hover{
    cursor:pointer;
}

.card .card-photo{
    filter: grayscale(1);
    transition : filter 1s;
}

.choosen-card .card-photo{
    filter: none;
} 

.card:hover .card-photo{
    filter: none;
}

.card-head{
    position:relative;
}

.card-number{
    position: absolute;
    bottom: 12.5%;
    right: 12.5%;
    font-size: 2em;
    background-color: black;
    border-radius: 50%;
    color:white;
}

.card-jug{

    display: flex;
    flex-direction:column;
    margin-top:1em;

    .card-head{
	flex:1;
    }
    .card-name{
	flex:2;
    }
    h3{
	margin-bottom:0;
    }
}

.card-jug .select-box{
    list-style: none;
    padding:0;
    li{
	display: block;
	margin:0;
    }
    li label{
	display:inline-block;
	width: 100%;
	line-height:2;
	margin:0;
	font-weight:bold;
    }
    
    input{
	display:none;
    }
}

$color-mention: (
  veryg #16A94A,
  good  #A6C432,
  quitg #8B8B8B,
  passa #CC8722,
  insuf #DB4342
);

@each $value in $color-mention {

    .#{nth($value, 1)} label{
	border: 1px solid nth($value, 2);
}
    .#{nth($value, 1)} input:checked ~label {
			   background-color: nth($value, 2);
   }
}

$btn-color:  #37948b;

.btn {
    background: $btn-color;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: lighten($btn-color,10%);
    text-decoration: none;
    color: #ffffff;
}

.glowing-btn{
    animation: glowing 1500ms infinite;
}

@keyframes glowing {
    0% {
	background: $btn-color;
	box-shadow: 0 0 3px $btn-color;
    }
    50% {
	background: lighten($btn-color,10%); 
	box-shadow: 0 0 15px $btn-color;
    }
    100% {
	background: $btn-color;
	box-shadow: 0 0 3px $btn-color;
    }
}

.scr-chart{
    margin: 2em 0;
}

@media (max-width: $medium) {
    .video-wrapper {
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    }

    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
